:root {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

header {
    margin-bottom: 1.5rem;
}

pre {
    background: #222;
    color: #0f0;
    padding: 1rem;
    border-radius: 6px;
    overflow: auto;
}

#content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-horizonally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.dialogtxt {
    font-size: 16px;
}

.dialogbig {
    font-size: 36px;
}

.placetxt {
    color: blue;
}

.maletxt {
    color: black;
}

.femaletxt {
    color: black;
}

.bothgenders {
    color: black;
}

.menutxt {
    color: purple;
}

.multiline {
    white-space: pre-wrap;
}

.codetext {
    color: black;
}

.flex {
    display: flex;
    margin-right: 10px;
}

.text-right {
    text-align: right;
}

.error {
    background-color: pink;
}

.no-error {
    background-color: lightgreen;
}

textarea {
    background-color: #a3a3a3;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
}

.charcount-textarea {
    text-align: left;
    columns: 3;
    width: 3em;
    margin-right: 0px;
}

p {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.4;
    text-align: center;
}

#body {
    background-color: #787878;
    margin: 0 0 20px 0;
    padding: 0;
}

.jp-area {
    color: black;
}

.tab {
    overflow: hidden;
    background-color: #f8f8f8;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.tab button:hover {
    background-color: #f0f0f0;
}

.tab button:active {
    background-color: #e4e4e4;
}

.tabcontent {
    display: none;
    padding: 12px 12px;
    border: 1px solid #e4e4e4;
    border-top: none;
    background-color: #e4e4e4;
}

.SJIS {
    background-color: #ffffff;
    padding: 12px 12px;    
}

.address {
    text-align: left;
    font-weight: bold;
}

.raw {
    text-align: left;
}

.translation {
    text-align: left;
    padding-bottom: 6px;
}

.str-length {
    font-weight: bold;
    padding-left: 12px;
}

.str-width {
    padding-left: 12px;
}



.page-control {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: skyblue;
}

.page-number {
  padding: 6px;
  font-weight: bold;
}

.page-btn {
    margin: 6px 12px;
    width: 50px;
    padding: 6px;
    font-weight: bold;
}

.page-input {
    width: 60px;
    text-align: right;
    padding-right: 2px;
}
